---
export const prerender = true

import BaseLayout from '@/layouts/BaseLayout.astro'

import CategoriesAside from '@/components/CategoriesAside.astro'
import Card from '@/components/Card.astro'

import { getCategories, getCategoryBySlug } from '@/lib/categories'
import { getPostsByCategoryId } from '@/lib/posts'

export interface ICategoryList extends ICategory {
  childCategories?: ICategory[]
}

export async function getStaticPaths() {
  const categories = await getCategories(
    'https://wp.zivjetizdravo.com/wp-json/wp/v2/categories?per_page=50'
  )

  const mainCategories: ICategoryList[] = categories.filter(category => {
    const childCategories = categories.filter(
      childCategory =>
        childCategory.parent !== 0 && childCategory.parent === category.id
    )

    if (category.parent === 0 && category.id !== 1)
      return { ...category, childCategories }
  })

  const paths = categories.map(category => {
    return {
      params: {
        slug: category.slug
      },
      props: { categories: mainCategories }
    }
  })

  return paths
}

const { slug } = Astro.params
const { categories } = Astro.props

const category = await getCategoryBySlug(slug)

const posts = await getPostsByCategoryId(category.id)
---

<BaseLayout>
  <div class="grid grid-cols-[1fr_20rem] gap-24">
    <div class="flex flex-col gap-20">
      {posts.map(post => <Card {...post} imgContainerClass="h-[30rem]" />)}
    </div>

    <aside class="flex flex-col">
      <CategoriesAside categories={categories} urlSlug={slug} />
    </aside>
  </div>
</BaseLayout>
