---
import { slide } from 'astro:transitions'
import clsx from 'clsx'

import type { ICategoryList } from '@/pages/category/[slug].astro'
import CategoriesFeatured from './CategoriesFeatured.astro'

import { getPosts } from '@/lib/posts'

type Props = {
  categories: ICategoryList[]
  urlSlug: string
}

const latestPosts = await getPosts(
  'https://wp.zivjetizdravo.com/wp-json/wp/v2/posts?per_page=3'
)

const { categories, urlSlug }: Props = Astro.props
---

<div class="flex flex-col gap-[4.4rem]">
  <div>
    <p class="pb-6 font-semibold">Kategorije</p>
    <div class="flex flex-col gap-4">
      {
        categories.map(({ name, slug }) => (
          <a
            href={'/category/' + slug}
            class="group flex items-center gap-3 text-2xl font-semibold"
          >
            <div class="relative grid h-5 w-5 place-items-center overflow-hidden rounded-full border-1 border-dark-gray">
              <div
                class={clsx(
                  'absolute h-full w-full rounded-full bg-black duration-300 scale-0 group-hover:scale-100',
                  {
                    'scale-100': urlSlug === slug
                  }
                )}
              />
            </div>
            <span>{name}</span>
          </a>
        ))
      }
    </div>
  </div>

  <div>
    <p class="pb-6 font-semibold">Featured</p>
    <div class="flex flex-col gap-6">
      {
        latestPosts.map((post, i) => (
          <CategoriesFeatured
            {...post}
            transition:animate={slide({ duration: i * 1 })}
          />
        ))
      }
    </div>
  </div>
</div>
