---
import { slide } from 'astro:transitions'

import type { ICategoryList } from '@/pages/category/[slug].astro'
import CategoriesFeatured from './CategoriesFeatured.astro'

import { getPosts } from '@/lib/posts'
import CategoryLink from './CategoryLink'

type Props = {
  categories: ICategoryList[]
  urlSlug: string
}

const latestPosts = await getPosts(
  'https://wp.zivjetizdravo.com/wp-json/wp/v2/posts?per_page=3'
)

const { categories, urlSlug }: Props = Astro.props
---

<div class="flex flex-col gap-[4.4rem]">
  <div>
    <p class="pb-6 text-lg font-semibold sm:text-base">Kategorije</p>
    <div class="flex flex-col gap-4">
      {
        categories.map(category => (
          <CategoryLink client:load {...category} urlSlug={urlSlug} />
        ))
      }
    </div>
  </div>

  <div>
    <p class="pb-6 text-lg font-semibold sm:text-base">Featured</p>
    <div class="flex flex-col gap-6">
      {
        latestPosts.map((post, i) => (
          <CategoriesFeatured
            {...post}
            transition:animate={slide({ duration: i * 1 })}
          />
        ))
      }
    </div>
  </div>
</div>
 ./CategoryLink
