---
import { Image } from 'astro:assets'

import Card from '@/components/Card.astro'
import LatestCard from '@/components/CardLatest.astro'
import MainBtn from '@/components/MainBtn.astro'
import Layout from '@/layouts/BaseLayout.astro'
import { getPosts } from '@/lib/posts'

import carrot from '../../public/images/carrot.png'

const latestPosts = await getPosts(
  'https://wp.zivjetizdravo.com/wp-json/wp/v2/posts?per_page=3'
)

const latestPostsClasses = [
  'sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-3 h-[70vw] sm:h-[43.75rem]',
  'sm:col-start-2 sm:col-end-3 sm:row-start-1 sm:row-end-2 h-[60vw] sm:h-[20.875rem]',
  'sm:col-start-2 sm:col-end-3 sm:row-start-2 sm:row-end-3 h-[60vw] sm:h-[20.875rem]'
]

const posts = await getPosts(
  'https://wp.zivjetizdravo.com/wp-json/wp/v2/posts?offset=0&per_page=9'
)
---

<Layout title="Živjeti zdravo">
  <div
    class="relative rounded-xl bg-primary bg-[url('../../public/images/fruits.png')] bg-cover bg-center bg-no-repeat p-8 md:p-20"
  >
    <h1 class="text-xl text-white sm:text-3xl md:text-5xl">
      Prirodni cjeloviti <br /> biljni recepti
    </h1>

    <Image
      src={carrot}
      width={418}
      alt="carrot"
      quality={100}
      format="webp"
      class="absolute right-0 top-1/2 w-44 -translate-y-1/2 sm:right-10 sm:w-56 md:w-[20rem] lg:right-16 lg:w-auto"
    />
  </div>

  <div
    class="mt-20 grid gap-6 sm:grid-cols-[60fr_40fr] sm:grid-rows-2 lg:mt-24 lg:gap-8"
  >
    {
      latestPosts.map((post, i) => (
        <LatestCard
          {...post}
          cardContainerClass={latestPostsClasses[i]}
          {...(i === 0 && {
            headingClass: 'text-2xl sm:text-3xl lg:text-4xl sm:mt-2'
          })}
        />
      ))
    }
  </div>

  <div class="my-12 h-1 w-full bg-light-gray"></div>

  <div class="grid gap-8 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 lg:gap-8">
    {posts.map((post, i) => <Card {...post} />)}
  </div>

  <div class="mx-auto mt-24 w-fit">
    <MainBtn text="Pogledaj više" href="#" />
  </div>
</Layout>
