---
import Logo from '@/components/Logo.astro'
import MenuBtn from '@/components/MenuBtn'
---

<header class="sticky">
  <div class="container">
    <div class="relative py-14 flex items-center justify-between">
      <Logo />

      <MenuBtn client:load />

      <div class="absolute w-full h-1 left-0 bottom-0 bg-light-gray"></div>
    </div>
  </div>
</header>
