@tailwind base;
@tailwind components;
@tailwind utilities;

html.stop-scroll {
  overflow: hidden;
}

body {
  font-family: theme(fontFamily.manrope);
  font-weight: 400;
}

h1 {
  font-size: theme(fontSize.6xl);
  font-weight: 700;
  letter-spacing: -0.4px;
}

h2 {
  font-size: theme(fontSize.5xl);
  font-weight: 700;
  letter-spacing: -0.4px;
}

h3 {
  font-size: theme(fontSize.3xl);
  font-weight: 700;
  letter-spacing: -0.4px;
}

h4 {
  font-size: theme(fontSize.3xl);
  font-weight: 700;
  letter-spacing: -0.4px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: theme(fontSize.5xl);
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: theme(fontSize.4xl);
    line-height: 1.3;
  }
}
