---
import type { ICategoryList } from '@/pages/category/[slug].astro'
import clsx from 'clsx'

type Props = {
  categories: ICategoryList[]
  urlSlug: string
}

const { categories, urlSlug }: Props = Astro.props
---

<div class="flex flex-col">
  {
    categories.map(({ name, slug }) => (
      <a
        href={'/category/' + slug}
        class="group flex items-center gap-3 text-2xl font-semibold"
      >
        <div class="grid h-5 w-5 place-items-center overflow-hidden rounded-full border-1 border-light-gray">
          <div
            class={clsx(
              'h-5 w-5 scale-0 rounded-full bg-black duration-300 group-hover:scale-100',
              {
                'scale-100': urlSlug === slug
              }
            )}
          />
        </div>
        <span>{name}</span>
      </a>
    ))
  }
</div>
