---
import { ViewTransitions } from 'astro:transitions'
import { twMerge } from 'tailwind-merge'

import '@fontsource-variable/manrope'
import '@/style/base.css'

import Nav from '@/layouts/nav/Nav'
import Footer from './Footer.astro'

interface Props {
  title?: string
  mainClass?: string
}

const BASE_URL = 'https://www.zivjetizdravo.com'

const { mainClass, title }: Props = Astro.props
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta content={BASE_URL} property="og:url" />
    <meta
      property="og:image"
      content="https://zivjetizdravo.com/preview-img.jpg"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff6500" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta content="website" property="og:type" />
    <meta content="Živjeti zdravo" property="og:site_name" />
    <title>{title ? title : 'Živjeti zdravo'}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <Nav client:load />
    <main
      class={twMerge('container pb-24 pt-48 md:pt-56', mainClass)}
      transition:animate="initial"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
