---
import { ViewTransitions } from 'astro:transitions'
import { twMerge } from 'tailwind-merge'

import '@fontsource-variable/manrope'
import '@/style/base.css'

import Nav from '@/layouts/nav/Nav'
import Footer from './Footer.astro'

interface Props {
  title?: string
  mainClass?: string
}

const { mainClass, title }: Props = Astro.props
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : 'Živjeti zdravo'}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <Nav client:load />
    <main
      class={twMerge('container pb-24 pt-36 lg:pt-56', mainClass)}
      transition:animate="initial"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
