---
import { ViewTransitions } from 'astro:transitions'

import '@fontsource-variable/manrope'
import '@/style/base.css'

import Nav from '@/layouts/nav/Nav.astro'
import Footer from './Footer.astro'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : 'Živjeti zdravo'}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <Nav />
    <main class="container py-24" transition:animate="initial">
      <slot />
    </main>
    <Footer />
  </body>
</html>
