---
import Logo from '@/components/Logo.tsx'

const footerSocial = [
  {
    text: 'facebook',
    href: '#'
  },
  {
    text: 'instagram',
    href: '#'
  },
  {
    text: 'twitter',
    href: '#'
  }
]

const footerNav = [
  {
    text: 'facebook',
    href: '#'
  },
  {
    text: 'instagram',
    href: '#'
  },
  {
    text: 'twitter',
    href: '#'
  }
]
---

<footer>
  <div class="container">
    <div
      class="relative flex flex-col-reverse items-center justify-center gap-10 pt-10 font-semibold sm:pt-14 lg:grid lg:grid-cols-3 lg:gap-0"
    >
      <div class="absolute left-0 top-0 h-1 w-full bg-light-gray"></div>

      <Logo />

      <ul class="flex list-none flex-col gap-3 text-center">
        {
          footerSocial.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>

      <ul class="flex list-none flex-col gap-3 text-center">
        {
          footerNav.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <p class="mt-10 pb-14 text-center lg:mt-14">
      Dizajn i development:{' '}
      <a
        href="https://bluestudio.rs"
        rel="nofollow"
        target="_blank"
        class="underline"
      >
        Bluestudio
      </a>
    </p>
  </div>
</footer>
