---
import Logo from '@/components/Logo.tsx'

const footerSocial = [
  {
    text: 'facebook',
    href: '#'
  },
  {
    text: 'instagram',
    href: '#'
  },
  {
    text: 'twitter',
    href: '#'
  }
]

const footerNav = [
  {
    text: 'facebook',
    href: '#'
  },
  {
    text: 'instagram',
    href: '#'
  },
  {
    text: 'twitter',
    href: '#'
  }
]
---

<footer>
  <div class="container">
    <div
      class="relative grid grid-cols-3 items-center justify-center py-14 font-semibold"
    >
      <div class="absolute left-0 top-0 h-1 w-full bg-light-gray"></div>

      <Logo />

      <ul class="list-none text-center">
        {
          footerSocial.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>

      <ul class="list-none text-center">
        {
          footerNav.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
